{% extends "admin_app.html" %}
{% from "library.j2" import form_button, standard_button, render_errors, custom_form_button with context %}
{% block content %}
<h1>{% trans chat_name=target_chat.name %}Edit group chat {{ chat_name }}{% endtrans %}</h1>
<p class="weak">{% trans circle_name=(target_circle | circle_name) %}This group chat belongs to circle {{ circle_name }}.{% endtrans %}</p>

<form method="POST" enctype="multipart/form-data">
{{- form.csrf_token -}}
{% call render_errors(form) %}{% endcall %}
<div class="form layout-expanded">
	<h2 class="form-title">{% trans %}Group chat information{% endtrans %}</h2>
	<div class="f-ebox">
		{{ form.name.label }}
		{{ form.name }}
	</div>
	<div class="f-ebox">
		{{ form.avatar.label }}
		<div class="avatar-wrap">
		{%- if muc_avatar -%}
		<div class="avatar current-avatar">
			<img src="data:{{ muc_avatar.type }};base64,{{ b64encode(muc_avatar.data) }}" alt="{% trans %}Current avatar{% endtrans %}">
		</div>
		{%- else -%}
		<div class="avatar shim" style="background-color: {{ text_to_css(target_chat.jid) }}"><span data-avatar-char="{{ target_chat.name[0] if target_chat.name else '?' }}"></span></div>
		{%- endif -%}
		{{ form.avatar(accept="image/png,image/jpeg,image/gif",
				 data_maxsize=max_avatar_size) }}
		</div>
		{%- if muc_avatar -%}
		<div class="f-bbox">
			{%- call form_button("delete", form.action_delete_avatar, class="secondary danger") %}{% endcall -%}
		</div>
		{%- endif -%}
	</div>
	<div class="f-bbox">
		{%- call standard_button("back", url_for(".edit_circle", id_=target_circle.id_), class="tertiary") -%}
			{% trans %}Return to circle{% endtrans %}
		{%- endcall -%}
		{%- call form_button("done", form.action_save, class="primary") %}{% endcall -%}
	</div>
</div>
</form>

<h2 id="managers">{% trans %}Chat managers{% endtrans %}</h2>
<p>{% trans %}Manage who can administrate this group chat.{% endtrans %}</p>

{%- if chat_managers -%}
<form method="POST">
{{- form.csrf_token -}}
<div class="el-2 elevated"><table>
	<thead>
		<th>{% trans %}User{% endtrans %}</th>
		<th>{% trans %}Role{% endtrans %}</th>
		<th>{% trans %}Actions{% endtrans %}</th>
	</thead>
	<tbody>
{%- for localpart, affiliation in chat_managers -%}
		<tr>
			<td>{{ localpart }}</td>
			<td>
				<select name="{{ form.action_set_affiliation.name }}" onchange="this.form.submit()" style="padding: 0.25em;">
					<option value="{{ localpart }}:admin" {% if affiliation == 'admin' %}selected{% endif %}>{% trans %}Admin{% endtrans %}</option>
					<option value="{{ localpart }}:owner" {% if affiliation == 'owner' %}selected{% endif %}>{% trans %}Owner{% endtrans %}</option>
				</select>
			</td>
			<td class="nowrap">
				{%- call custom_form_button("remove_user", form.action_remove_member.name, localpart, class="primary danger", slim=True) -%}
					{% trans username=localpart %}Remove {{ username }} from managers{% endtrans %}
				{%- endcall -%}
			</td>
		</tr>
{%- endfor -%}
	</tbody>
</table></div>
</form>
{%- else -%}
<p>{% trans %}This group chat currently has no managers.{% endtrans %}</p>
{%- if not target_circle.members -%}
<p>{% trans %}This group chat currently has no members.{% endtrans %}</p>
{%- endif -%}
{%- endif -%}

{%- if form.user_to_add.choices -%}
<h3>{% trans %}Add manager{% endtrans %}</h3>
<form method="POST">
{{- form.csrf_token -}}
<div class="form layout-expanded">
	<div class="f-ebox">
		{{ form.user_to_add.label }}
		<div class="select-wrap">{{ form.user_to_add }}</div>
	</div>
	<div class="f-ebox">
		{{ form.affiliation_to_set.label }}
		<div class="select-wrap">{{ form.affiliation_to_set }}</div>
	</div>
	<div class="f-bbox">
		{%- call form_button("add_user", form.action_add_manager, class="primary") %}{% endcall -%}
	</div>
</div>
</form>
{%- endif -%}

<script type="text/javascript">
document.getElementById("{{ form.avatar.id }}").onchange = function() {
	var maxsize_s = this.dataset.maxsize;
	var maxsize = parseInt(maxsize_s);
	if (this.files[0].size > maxsize) {
		this.setCustomValidity("{% trans %}The chosen avatar is too big.{% endtrans %}");
		this.reportValidity();
		this.value = null;
	} else {
		this.setCustomValidity("");
	}
};
</script>
{% endblock %}
